/*body{
    background-image: url("https://cdn.wallpapersafari.com/64/0/WNaocO.jpg");
    -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
  
  }
  #formdiv{
    background-image: url("https://cdn.wallpapersafari.com/9/57/PdJiN3.jpg");
  }*/
  span{
    color: red;
  }